*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* Custom Scrollbar*/
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(46, 43, 43, 0.63);
  box-shadow: 0 0 50px 10px black !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

.Container {
  width: 1268px;
  margin: 0 auto;
  min-height: 150vh;
  position: relative;
  transition: 1s;
}
.scrolltoTopButton {
  position: fixed;
  top: 80vh;
  right: 10vw;
  z-index: 20;
  width: 40px;
  height: 40px;
  text-align: center;
  background-color: black;
  box-shadow: 0 0 5px 4px rgba(218, 216, 216, 0.685);
  transition: 1s;
  cursor: pointer;
  border-radius: 0.5rem;
  animation: toVisible 1s 1 forwards;
}
.scrolltoTopButton ion-icon {
  font-size: 20px;
  margin-top: 10px;
  color: white;
}
.LightTheme {
  background-color: white;
  color: black;
}
.DarkTheme {
  background-color: rgba(0, 0, 0, 0.911);
  color: white;
}

@media screen and (max-width: 821px) {
  .Container {
    width: 100vw;
  }
  .Header-Container,
  .Body-Container,
  .SkillsAndProjects,
  .MyResumeContainer {
    width: 80% !important;
  }
  .MySkills-Details,
  .MyProjects-Details {
    width: 100% !important;
    justify-content: space-between !important;
  }
  .MyProjects-Details {
    justify-content: space-around !important;
  }
  .MyResume-Education_MySchoolsDetails {
    justify-content: space-between !important;
  }
  .MySchool {
    width: 200px !important;
    height: 150px !important;
  }
}

@media screen and (max-width: 415px) {
  .Header-Container,
  .Body-Container {
    width: 90% !important;
  }
  .ChangeTheme {
    top: 30px !important;
    right: 30px !important;
    cursor: pointer !important;
  }
  .SkillsAndProjects,
  .MySkills-Details {
    width: 100% !important;
  }
  .MySkills,
  .MyProjects {
    width: 100px !important;
  }
  .MySkills-Details {
    margin-top: 20px !important;
  }
  .MySkill {
    min-width: 90px !important;
    margin: 10px 0 !important;
    padding: 10px !important;
  }
  .MyProject {
    width: 150px !important;
  }
  .MyProject_PictureContainer {
    height: 140px !important;
  }
  .MyProject_ContentContainer {
    margin: 10px !important;
    font-size: 13px !important;
  }
  .MyResumeContainer {
    width: 100% !important;
  }
  .MyResumeContainer h1 {
    font-size: 16px !important;
  }
  .MyResumeContainer span {
    font-size: 13px !important;
  }
  .MyResume-Education_MySchoolsDetails {
    justify-content: space-around !important;
  }
  .MySchool {
    width: 250px !important;
    height: 100px !important;
  }
}

@keyframes toVisible {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
