.Body-Container {
  width: 80%;
  margin: 0 auto;
}

.SkillsAndProjects {
  width: 50%;
  margin: 20px auto 0 auto;
  background-color: rgba(137, 139, 139, 0.863);
  min-height: 60px;
  color: white;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 1s;
}
.MySkills,
.MyProjects {
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  transition: 1s;
  width: 150px;
  margin: 0 auto;
  text-align: center;
}
.isChoosed {
  padding: 10px;
  border-radius: 0.5rem;
  background-color: white;
  color: black;
}
.MySkills-Details {
  display: flex;
  justify-content: space-around;
  transition: 1s;
  flex-wrap: wrap;
  width: 50%;
  margin: 0 auto;
  user-select: none;
}
.MySkill {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 150px;
  margin: 30px;
  padding: 15px;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px 4px rgba(218, 216, 216, 0.685);
}
.MySkill ion-icon {
  color: #0082c8;
  font-size: 17px !important;
  margin-right: 5px;
}
