.Body-Container {
  width: 80%;
  margin: 0 auto 200px auto;
  min-height: 50vh;
}

.SkillsAndProjects {
  width: 50%;
  margin: 20px auto 0 auto;
  background-color: rgba(137, 139, 139, 0.863);
  min-height: 60px;
  color: white;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 1s;
}
.MySkills,
.MyProjects {
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  transition: 1s;
  width: 150px;
  margin: 0 auto;
  text-align: center;
}
.isChoosed {
  padding: 10px;
  border-radius: 0.5rem;
  background-color: white;
  color: black;
}
.MySkills-Details {
  display: flex;
  justify-content: space-around;
  transition: 1s;
  flex-wrap: wrap;
  width: 50%;
  margin: 0 auto;
  user-select: none;
}
.MySkill {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  margin: 30px;
  padding: 15px;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px 4px rgba(218, 216, 216, 0.685);
}
.MySkill ion-icon {
  color: #0082c8;
  font-size: 17px !important;
  margin-right: 5px;
}

.MyProjects-Details {
  width: 70%;
  margin: 50px auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.MyProjectContainer {
  transition: 0.7s;
}
.MyProject {
  width: 250px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  cursor: pointer;
}

.MyProject_PictureContainer {
  width: 100%;
  height: 180px;
  overflow: hidden;
}
.MyProject_PictureContainer img {
  width: 100%;
  height: 100%;
  transition: transform 1s;
}
.MyProjectContainer:hover > .MyProject img {
  transform: scale(1.5) !important;
}
.MyProjectContainer:hover {
  transform: translateY(-10px);
}
.MyProject_ContentContainer {
  font-size: 14px;
  margin: 10px 0;
  font-weight: 600;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
